@font-face {
  font-family: "Fellix";
  src: local("Fellix"), url(./fonts/fellix-light.woff2) format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Fellix";
  src: local("Fellix"), url(./fonts/fellix-light.woff2) format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Fellix";
  src: local("Fellix"), url(./fonts/fellix-light.woff2) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Fellix";
  src: local("Fellix"), url(./fonts/fellix-regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Fellix";
  src: local("Fellix"), url(./fonts/fellix-medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Fellix";
  src: local("Fellix"), url(./fonts/fellix-semi-bold.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Fellix";
  src: local("Fellix"), url(./fonts/fellix-bold.woff2) format("woff2");
  font-weight: 700;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 1;
}

#root {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.AppContainer {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: #fcfcfc;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

.AppContainer__Content {
  padding: 20px 0;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
